<section id="home" class="relative h-screen flex items-center justify-center overflow-hidden bg-gray-900">
        <div class="absolute inset-0 hero-gradient z-10"></div>

        <div class="absolute inset-0 bg- bg-cover bg-center bg-fixed"><img
                src="assets/img/photo-1518770660439-4636190af475.avif" alt="">

        </div>


        <div class="relative z-20 text-center px-4 max-w-4xl mx-auto">
            <div class="inline-block bg-blue-600 text-white px-4 py-1 rounded-full text-xs font-bold mb-4 tracking-widest uppercase opacity-0 translate-y-4 transition-all duration-700 ease-out"
                id="hero-tag">
                Buenos Aires • Argentina
            </div>
            <h1 class="text-5xl md:text-7xl font-extrabold text-white mb-6 leading-tight tracking-tight drop-shadow-lg opacity-0 translate-y-4 transition-all duration-700 delay-200 ease-out"
                id="hero-title">
                LA TECNOLOGÍA <br> <span class="text-blue-400">A TU SERVICIO</span>
            </h1>

            <p class="text-gray-300 text-lg md:text-xl mb-10 max-w-2xl mx-auto opacity-0 translate-y-4 transition-all duration-700 delay-500 ease-out"
                id="hero-desc">
                Soluciones informáticas integrales(hardware-software). Instalación y soporte de sistemas Cctv e IP,
                asesoramiento
                personalizado para hogar, oficinas y negocios.
            </p>
            <div class="flex flex-col sm:flex-row justify-center gap-4 opacity-0 translate-y-4 transition-all duration-700 delay-700 ease-out"
                id="hero-btns">
                <a href="#servicios"
                    class="bg-blue-600 hover:bg-blue-700 text-white px-8 py-4 rounded-lg font-bold text-lg transition-all shadow-lg hover:shadow-blue-500/50 flex items-center justify-center gap-2">
                    Nuestros Servicios <i class="fas fa-chevron-right text-sm"></i>
                </a>
                <!-- <a href="#servicios"
                    class="bg-transparent border-2 border-white text-white hover:bg-white hover:text-gray-900 px-8 py-4 rounded-lg font-bold text-lg transition-all">
                    Nuestros Servicios
                </a> -->
            </div>
        </div>
    </section>