 body {
     font-family: 'Inter', sans-serif;
 }

 .hero-gradient {
     background: linear-gradient(135deg, rgba(30, 58, 138, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%);
 }
 li{color:white}
 /* Clase que fuerza el fondo sólido */
.header-solid {
    background-color: #1a1a1a !important; /* El color de tu marca */
    transition: none !important;
    position: sticky; /* O fixed, según tu diseño */
    top: 0;
}