 body {
     font-family: 'Inter', sans-serif;
 }

 .hero-gradient {
     background: linear-gradient(135deg, rgba(30, 58, 138, 0.9) 0%, rgba(0, 0, 0, 0.8) 100%);
 }
 li{color:white}
 /* Clase que fuerza el fondo sólido */
.header-solid {
    background-color: #1a1a1a !important; /* El color de tu marca */
    transition: none !important;
    position: sticky; /* O fixed, según tu diseño */
    top: 0;
}
.breadcrumb {
    font-size: 14px;
    margin: 15px 0;
}

.breadcrumb a {
    color: #0a58ca;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb span {
    color: #555;
}
.breadcrumb svg {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}
